<center style="font-size: 2em; font-weight: bold;"> Determinantes del crimen </center>
<center style="font-size: 2em; font-weight: bold;"> Analisis Panel Data  </center>
<left style="font-size: 4em; font-weight: bold;"> Autor: Edinson Tolentino </left>

# Librerias

In [1]:
import pandas
import numpy
import os
import sys
import numpy

import statsmodels.api as sm
from statsmodels.iolib.summary2 import summary_col

import sklearn
import sklearn.compose
#import category_encoders
import sklearn.impute

from plotnine import *
from stargazer.stargazer import Stargazer
from IPython.core.display import HTML

#import py_hep_functions
import seaborn
import matplotlib.pyplot as plt

In [2]:

color = ["#3a5e8cFF", "#10a53dFF", "#541352FF", "#ffcf20FF", "#2f9aa0FF"]

def seq(start: float, stop: float, by: float, round_n=3) -> list:
    """
    Custom function, used for setting the breaks of plotnine scales.

       Parameters
    ----------
    start : float
        Start of the breaks.
    stop : float
        End of the breaks.
    by : float
        Steps between breaks.
    round_n: int, default=3
        Decimals to round floats in output.
    """
    epsilon = numpy.finfo("float").eps

    return [
        round(x, round_n) for x in list(numpy.arange(start, stop + (by - epsilon), by))
    ]
    
def normalize_frame(frame):
    """Normalize the data frame to make it performant and compatible with
    downstream libraries such as Scikit-Learn and CatBoost.
    
    In particular the following operations are performed:
    - Categorical levels that are not strings are converted into strings
    - Categorical missing values are converted into a distinct "N/A" level
    - Object-typed columns are converted into categorical columns
    """
    for col, series in frame.items():
        dtype = series.dtype
        if pandas.api.types.is_categorical_dtype(dtype):
            recode = False
            if series.hasnans:
                recode = True
            else:
                for value in series.cat.categories:
                    if not isinstance(value, str):
                        recode = True
                        break
            if recode:
                frame[col] = series.astype("str").fillna("N/A").astype(
                    "category")
        elif pandas.api.types.is_object_dtype(dtype):
            frame[col] = series.astype("str").fillna("N/A").astype("category")

    return frame

base_transformer = sklearn.pipeline.Pipeline([
    ("recode", sklearn.compose.ColumnTransformer(transformers=[
        ("category",
             #sklearn.preprocessing.OneHotEncoder(handle_unknown="ignore",
             sklearn.preprocessing.OneHotEncoder(drop="first",handle_unknown="ignore",                                                 
                min_frequency=0.01, max_categories=30, sparse_output= False),
             sklearn.compose.make_column_selector(dtype_exclude=numpy.number)
        ),
        ("number",
            sklearn.impute.SimpleImputer(strategy="mean"),
            sklearn.compose.make_column_selector(dtype_include=numpy.number)
        ),  
    ], n_jobs=-1)),
    #("rescale", sklearn.preprocessing.StandardScaler()),
])

In [3]:
output           = "C:/Users/et396/Dropbox/Docencia/Educate/Econometria/S4/Data"
os.chdir(output)

# Carga de data
base = pandas.read_stata("BD4.dta")

In [4]:
#from linearmodels.datasets import wage_panel
#
#data = wage_panel.load()
#data.info()

In [5]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   b       504 non-null    float32
 1   lb      504 non-null    float32
 2   cburg   504 non-null    float32
 3   sburg   504 non-null    float32
 4   ur      504 non-null    float32
 5   yr1     504 non-null    float32
 6   yr2     504 non-null    float32
 7   yr3     504 non-null    float32
 8   yr4     504 non-null    float32
 9   yr5     504 non-null    float32
 10  yr6     504 non-null    float32
 11  yr7     504 non-null    float32
 12  yr8     504 non-null    float32
 13  yr9     504 non-null    float32
 14  yr10    504 non-null    float32
 15  yr11    504 non-null    float32
 16  yr12    504 non-null    float32
 17  year    504 non-null    float32
 18  pfa     504 non-null    float32
dtypes: float32(19)
memory usage: 37.5 KB

In [6]:
base.describe().T

,count,mean,std,min,25%,50%,75%,max
b,504.0,14.978506,7.344829,4.121226,9.897938,12.768569,18.523424,46.137363
lb,504.0,2.601329,0.451574,1.416151,2.292326,2.546987,2.919036,3.831623
cburg,504.0,31.244047,8.584625,8.000000,26.000000,31.500000,37.000000,61.000000
sburg,504.0,10.547816,2.262820,5.200000,9.000000,10.300000,12.225000,17.400000
ur,504.0,11.316667,4.786645,1.800000,7.775000,10.750000,14.100000,26.100000
yr1,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr2,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr3,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr4,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr5,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr6,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr7,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr8,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr9,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr10,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr11,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr12,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
year,504.0,85.500000,3.455482,80.000000,82.750000,85.500000,88.250000,91.000000
pfa,504.0,21.500000,12.132961,1.000000,11.000000,21.500000,32.000000,42.000000

In [7]:
# Lagged 
base['Lcburg']        = base.groupby('pfa')['cburg'].shift(-1)
base['Lsburg']        = base.groupby('pfa')['sburg'].shift(-1)
base['Llb']           = base.groupby('pfa')['lb'].shift(-1)

base['cpfa']  = base['pfa'].astype('object')
base['pfa']   = base['pfa'].astype('int64')
base['year']  = base['year'].astype('int64')

In [8]:
#base_final = base.dropna()
base_final = base.copy()
base_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   b       504 non-null    float32
 1   lb      504 non-null    float32
 2   cburg   504 non-null    float32
 3   sburg   504 non-null    float32
 4   ur      504 non-null    float32
 5   yr1     504 non-null    float32
 6   yr2     504 non-null    float32
 7   yr3     504 non-null    float32
 8   yr4     504 non-null    float32
 9   yr5     504 non-null    float32
 10  yr6     504 non-null    float32
 11  yr7     504 non-null    float32
 12  yr8     504 non-null    float32
 13  yr9     504 non-null    float32
 14  yr10    504 non-null    float32
 15  yr11    504 non-null    float32
 16  yr12    504 non-null    float32
 17  year    504 non-null    int64
 18  pfa     504 non-null    int64
 19  Lcburg  462 non-null    float32
 20  Lsburg  462 non-null    float32
 21  Llb     462 non-null    float32
 22  cpfa    504 non-null    object
dtypes: float32(20), int64(2), object(1)
memory usage: 51.3+ KB

In [9]:
#print(base_final.descr)

In [10]:
data_panel = base_final.set_index(['pfa','year'])

# Filtro de variables
response = ['lb']
inputs = ['cburg', 'sburg','ur', 'Lcburg','Lsburg','Llb','yr1', 'yr2', 'yr3', 'yr4', 'yr5', 'yr6', 'yr7','yr8', 'yr9', 'yr10', 'yr11', 'yr12']
data_analysis = data_panel[response + inputs]

# Normalise informacion : number, category columns
data_panel = normalize_frame(data_analysis)
data_panel.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 504 entries, (1, 80) to (42, 91)
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lb      504 non-null    float32
 1   cburg   504 non-null    float32
 2   sburg   504 non-null    float32
 3   ur      504 non-null    float32
 4   Lcburg  462 non-null    float32
 5   Lsburg  462 non-null    float32
 6   Llb     462 non-null    float32
 7   yr1     504 non-null    float32
 8   yr2     504 non-null    float32
 9   yr3     504 non-null    float32
 10  yr4     504 non-null    float32
 11  yr5     504 non-null    float32
 12  yr6     504 non-null    float32
 13  yr7     504 non-null    float32
 14  yr8     504 non-null    float32
 15  yr9     504 non-null    float32
 16  yr10    504 non-null    float32
 17  yr11    504 non-null    float32
 18  yr12    504 non-null    float32
dtypes: float32(19)
memory usage: 40.2 KB

C:\Users\et396\AppData\Local\Temp\ipykernel_9228\2308428612.py:35: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead

In [11]:
# Filtro de variables
response = ['lb']
inputs = ['cburg', 'sburg','ur', 'Lcburg','Lsburg','Llb','yr1', 'yr2', 'yr3', 'yr4', 'yr5', 'yr6', 'yr7','yr8', 'yr9', 'yr10', 'yr11', 'yr12','cpfa']
data_analysis = base_final[response + inputs]

# Normalise informacion : number, category columns
data_fit = normalize_frame(data_analysis)
data_fit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lb      504 non-null    float32
 1   cburg   504 non-null    float32
 2   sburg   504 non-null    float32
 3   ur      504 non-null    float32
 4   Lcburg  462 non-null    float32
 5   Lsburg  462 non-null    float32
 6   Llb     462 non-null    float32
 7   yr1     504 non-null    float32
 8   yr2     504 non-null    float32
 9   yr3     504 non-null    float32
 10  yr4     504 non-null    float32
 11  yr5     504 non-null    float32
 12  yr6     504 non-null    float32
 13  yr7     504 non-null    float32
 14  yr8     504 non-null    float32
 15  yr9     504 non-null    float32
 16  yr10    504 non-null    float32
 17  yr11    504 non-null    float32
 18  yr12    504 non-null    float32
 19  cpfa    504 non-null    category
dtypes: category(1), float32(19)
memory usage: 39.4 KB

C:\Users\et396\AppData\Local\Temp\ipykernel_9228\2308428612.py:35: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
C:\Users\et396\AppData\Local\Temp\ipykernel_9228\2308428612.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# Pregunta 1

In [12]:
data_fit.describe().T

,count,mean,std,min,25%,50%,75%,max
lb,504.0,2.601329,0.451574,1.416151,2.292326,2.546987,2.919036,3.831623
cburg,504.0,31.244047,8.584625,8.000000,26.000000,31.500000,37.000000,61.000000
sburg,504.0,10.547816,2.262820,5.200000,9.000000,10.300000,12.225000,17.400000
ur,504.0,11.316667,4.786645,1.800000,7.775000,10.750000,14.100000,26.100000
Lcburg,462.0,30.841991,8.494922,8.000000,25.000000,31.000000,37.000000,61.000000
Lsburg,462.0,10.709090,2.240139,5.200000,9.125000,10.700000,12.375000,17.400000
Llb,462.0,2.632077,0.442546,1.566663,2.330205,2.559546,2.945509,3.831623
yr1,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr2,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr3,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr4,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr5,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr6,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr7,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr8,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr9,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr10,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr11,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr12,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000

In [13]:
data_panel.describe().T

,count,mean,std,min,25%,50%,75%,max
lb,504.0,2.601329,0.451574,1.416151,2.292326,2.546987,2.919036,3.831623
cburg,504.0,31.244047,8.584625,8.000000,26.000000,31.500000,37.000000,61.000000
sburg,504.0,10.547816,2.262820,5.200000,9.000000,10.300000,12.225000,17.400000
ur,504.0,11.316667,4.786645,1.800000,7.775000,10.750000,14.100000,26.100000
Lcburg,462.0,30.841991,8.494922,8.000000,25.000000,31.000000,37.000000,61.000000
Lsburg,462.0,10.709090,2.240139,5.200000,9.125000,10.700000,12.375000,17.400000
Llb,462.0,2.632077,0.442546,1.566663,2.330205,2.559546,2.945509,3.831623
yr1,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr2,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr3,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr4,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr5,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr6,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr7,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr8,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr9,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr10,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr11,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000
yr12,504.0,0.083333,0.276660,0.000000,0.000000,0.000000,0.000000,1.000000

## Modelo LSDV

In [14]:
# Independed variabkes
response = data_fit[['lb']]

# Depended variables
predictors_cols1 = ['Lcburg', 'Lsburg', 'ur','yr3', 'yr4', 'yr5', 'yr6', 'yr7','yr8', 'yr9', 'yr10', 'yr11', 'yr12','cpfa' ]

In [15]:
base1        = data_fit[predictors_cols1]
predictors  = data_fit[predictors_cols1]
transformer = sklearn.clone(base_transformer)
inputs      = transformer.fit_transform(predictors)
inputs      = pandas.DataFrame(inputs, index=base1.index,
                               columns=transformer.get_feature_names_out())
inputs      = sm.add_constant(inputs, has_constant="raise")

m1 = sm.OLS( response, inputs, missing='drop').fit(cov_type="HC1")
print(m1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     lb   R-squared:                       0.851
Model:                            OLS   Adj. R-squared:                  0.837
Method:                 Least Squares   F-statistic:                     178.1
Date:                Sat, 30 Mar 2024   Prob (F-statistic):          6.09e-257
Time:                        17:55:26   Log-Likelihood:                 165.52
No. Observations:                 504   AIC:                            -245.0
Df Residuals:                     461   BIC:                            -63.47
Df Model:                          42
Covariance Type:                  HC1
=====================================================================================================
                                        coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                                 2.7551      0.156     17.642      0.000       2.449       3.061
category__cpfa_22.0                   0.1884      0.110      1.708      0.088      -0.028       0.405
category__cpfa_23.0                  -0.3405      0.100     -3.388      0.001      -0.537      -0.143
category__cpfa_24.0                  -0.1285      0.100     -1.282      0.200      -0.325       0.068
category__cpfa_25.0                   0.2481      0.076      3.253      0.001       0.099       0.398
category__cpfa_26.0                  -0.3278      0.106     -3.096      0.002      -0.535      -0.120
category__cpfa_27.0                   0.1091      0.109      0.997      0.319      -0.105       0.324
category__cpfa_28.0                  -0.2938      0.086     -3.435      0.001      -0.461      -0.126
category__cpfa_29.0                  -0.2910      0.097     -2.989      0.003      -0.482      -0.100
category__cpfa_3.0                   -0.3218      0.105     -3.078      0.002      -0.527      -0.117
category__cpfa_30.0                  -0.5148      0.113     -4.558      0.000      -0.736      -0.293
category__cpfa_31.0                  -0.6441      0.116     -5.538      0.000      -0.872      -0.416
category__cpfa_32.0                  -0.3963      0.103     -3.850      0.000      -0.598      -0.195
category__cpfa_33.0                  -0.2782      0.109     -2.551      0.011      -0.492      -0.064
category__cpfa_34.0                  -0.2781      0.105     -2.655      0.008      -0.483      -0.073
category__cpfa_35.0                  -0.5444      0.094     -5.806      0.000      -0.728      -0.361
category__cpfa_36.0                   0.1556      0.085      1.827      0.068      -0.011       0.322
category__cpfa_37.0                   0.2039      0.089      2.290      0.022       0.029       0.378
category__cpfa_38.0                  -0.4405      0.107     -4.128      0.000      -0.650      -0.231
category__cpfa_39.0                  -1.0735      0.095    -11.341      0.000      -1.259      -0.888
category__cpfa_4.0                   -0.3298      0.093     -3.555      0.000      -0.512      -0.148
category__cpfa_40.0                  -0.7246      0.088     -8.251      0.000      -0.897      -0.552
category__cpfa_41.0                  -0.4796      0.091     -5.292      0.000      -0.657      -0.302
category__cpfa_42.0                  -0.0931      0.086     -1.089      0.276      -0.261       0.075
category__cpfa_5.0                   -0.2719      0.087     -3.118      0.002      -0.443      -0.101
category__cpfa_6.0                   -0.2357      0.105     -2.253      0.024      -0.441      -0.031
category__cpfa_7.0                   -0.4119      0.106     -3.871      0.000      -0.620      -0.203
category__cpfa_8.0                   -0.7358      0.094     -7.822      0.000      -0.920      -0.551
category__cpfa_9.0                   -0.5133      0.099     -5.180      0.000      -0.707      -0.319
category__cpfa_infrequent_sklearn    -0.2893      0.096     -3.004      0.003      -0.478      -0.101
number__Lcburg                       -0.0082      0.002     -4.389      0.000      -0.012      -0.005
number__Lsburg                       -0.0471      0.008     -6.240      0.000      -0.062      -0.032
number__ur                            0.0511      0.005     10.365      0.000       0.041       0.061
number__yr3                           0.0118      0.035      0.343      0.732      -0.056       0.080
number__yr4                           0.0231      0.035      0.653      0.514      -0.046       0.093
number__yr5                           0.2559      0.033      7.747      0.000       0.191       0.321
number__yr6                           0.2320      0.038      6.036      0.000       0.157       0.307
number__yr7                           0.3571      0.042      8.510      0.000       0.275       0.439
number__yr8                           0.4191      0.055      7.644      0.000       0.312       0.527
number__yr9                           0.4855      0.047     10.391      0.000       0.394       0.577
number__yr10                          0.5590      0.047     11.969      0.000       0.467       0.651
number__yr11                          0.7373      0.048     15.516      0.000       0.644       0.830
number__yr12                          0.7974      0.041     19.274      0.000       0.716       0.878
==============================================================================
Omnibus:                       48.343   Durbin-Watson:                   0.739
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              275.025
Skew:                          -0.019   Prob(JB):                     1.90e-60
Kurtosis:                       6.619   Cond. No.                     1.70e+03
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The condition number is large, 1.7e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [16]:
stargazer = Stargazer([m1])
stargazer.custom_columns(["lb"], [1])
stargazer.covariate_order(["number__Lcburg", 'number__Lsburg', "number__ur"])
stargazer.rename_covariates({"Intercept": "Constant"})
stargazer.add_line("Efectos fijos pfa", ["Yes"])
stargazer.add_line("Efectos fijos Year", ["Yes"])
stargazer

## Modelo Pooled

In [17]:
# Independed variabkes
response = data_panel[['lb']]

# Depended variables
predictors_cols1 = ['Lcburg', 'Lsburg', 'ur']

In [19]:
import statsmodels.api as sm
from linearmodels.panel import PooledOLS

base1       = data_panel[predictors_cols1]
predictors  = data_panel[predictors_cols1]
transformer = sklearn.clone(base_transformer)
inputs      = transformer.fit_transform(predictors)
inputs      = pandas.DataFrame(inputs, index=base1.index,
                               columns=transformer.get_feature_names_out())
inputs      = sm.add_constant(inputs, has_constant="raise")

m2 = PooledOLS( data_panel.lb, inputs).fit(cov_type='robust')
print(m2)

                          PooledOLS Estimation Summary
================================================================================
Dep. Variable:                     lb   R-squared:                        0.2722
Estimator:                  PooledOLS   R-squared (Between):              0.4728
No. Observations:                 504   R-squared (Within):              -0.5029
Date:                Sat, Mar 30 2024   R-squared (Overall):              0.2722
Time:                        17:56:42   Log-likelihood                   -233.91
Cov. Estimator:                Robust
                                        F-statistic:                      62.319
Entities:                          42   P-value                           0.0000
Avg Obs:                       12.000   Distribution:                   F(3,500)
Min Obs:                       12.000
Max Obs:                       12.000   F-statistic (robust):             77.075
                                        P-value                           0.0000
Time periods:                      12   Distribution:                   F(3,500)
Avg Obs:                       42.000
Min Obs:                       42.000
Max Obs:                       42.000

                               Parameter Estimates
==================================================================================
                Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
----------------------------------------------------------------------------------
const              2.2612     0.1231     18.370     0.0000      2.0194      2.5031
number__Lcburg    -0.0138     0.0025    -5.5782     0.0000     -0.0187     -0.0089
number__Lsburg     0.0136     0.0074     1.8492     0.0650     -0.0009      0.0281
number__ur         0.0548     0.0037     14.732     0.0000      0.0475      0.0621
==================================================================================

## Modelo de Efectos Fijos

In [ ]:
from linearmodels.panel import PanelOLS

m3 = PanelOLS( data_panel.lb, inputs, entity_effects=True, time_effects=True).fit(cov_type='robust')
print(m3)
#data_panel

## Modelo de Efectos aletorios

In [ ]:
from linearmodels.panel import RandomEffects

m4 = RandomEffects(data_panel.lb, inputs).fit(cov_type='robust')
print(m4)

# Comparacion de modelos

In [ ]:
from linearmodels.panel import compare

print(compare({"Pooled": m2, "FE": m3, "RE": m4}))

# Pregunta 2

## Pregunta 2a

In [ ]:
stargazer = Stargazer([m1])
stargazer.custom_columns(["lb"], [1])
stargazer.covariate_order(["number__Lcburg", 'number__Lsburg', "number__ur"])
stargazer.rename_covariates({"Intercept": "Constant"})
stargazer.add_line("Efectos fijos pfa", ["Yes"])
stargazer.add_line("Efectos fijos Year", ["Yes"])
stargazer

## Pregunta 2b

In [ ]:
print(m3)

# Pregunta 3
Test de Hausman, se constrasta el analisis del modelo RE

In [ ]:
print(m4)

# Pregunta 4

## Forma 1

In [ ]:
# Independed variabkes
response = data_panel[['lb']]

# Depended variables
predictors_cols1 = ['Llb','Lcburg', 'Lsburg', 'ur']

In [ ]:
from linearmodels.panel import PanelOLS


base1        = data_panel[predictors_cols1]
predictors  = data_panel[predictors_cols1]
transformer = sklearn.clone(base_transformer)
inputs      = transformer.fit_transform(predictors)
inputs      = pandas.DataFrame(inputs, index=base1.index,
                               columns=transformer.get_feature_names_out())
inputs      = sm.add_constant(inputs, has_constant="raise")

# Esdtimacion
m5 = PanelOLS( data_panel.lb, inputs, entity_effects=True, time_effects=True).fit(cov_type='robust')
print(m5)

In [ ]:
# semielasticidades
# delta 1
delta_1 = (m5.params['number__Lcburg'])/ (1-m5.params['number__Llb'])
delta_1

In [ ]:
# semielasticidades
# delta 2
delta_2 = (m5.params['number__Lsburg'])/ (1-m5.params['number__Llb'])
delta_2

In [ ]:
# semielasticidades
# delta 3
delta_3 = (m5.params['number__ur'])/ (1-m5.params['number__Llb'])
delta_3

## Forma 2

In [ ]:
# Independed variabkes
response = data_fit[['lb']]

# Depended variables
predictors_cols1 = ['Llb','Lcburg', 'Lsburg', 'ur','yr3', 'yr4', 'yr5', 'yr6', 'yr7','yr8', 'yr9', 'yr10', 'yr11', 'yr12','cpfa' ]

In [ ]:
base1        = data_fit[predictors_cols1]
predictors  = data_fit[predictors_cols1]
transformer = sklearn.clone(base_transformer)
inputs      = transformer.fit_transform(predictors)
inputs      = pandas.DataFrame(inputs, index=base1.index,
                               columns=transformer.get_feature_names_out())
inputs      = sm.add_constant(inputs, has_constant="raise")

m6 = sm.OLS( response, inputs).fit(cov_type="HC1")
print(m6.summary())

In [ ]:
stargazer = Stargazer([m1, m6])
stargazer.custom_columns(["lb",'lb'], [1,1])
stargazer.covariate_order(['number__Llb',"number__Lcburg", 'number__Lsburg', "number__ur"])
stargazer.rename_covariates({"Intercept": "Constant"})
stargazer.add_line("Efectos fijos pfa", ["Yes", "Yes"])
stargazer.add_line("Efectos fijos Year", ["Yes","Yes"])
stargazer

In [ ]:
# semielasticidades
# delta 1
delta_1 = (m6.params['number__Lcburg'])/ (1-m6.params['number__Llb'])
delta_1

In [ ]:
# semielasticidades
# delta 2
delta_2 = (m6.params['number__Lsburg'])/ (1-m6.params['number__Llb'])
delta_2

In [ ]:
# semielasticidades
# delta 3
delta_3 = (m6.params['number__ur'])/ (1-m6.params['number__Llb'])
delta_3